/*universal styles*/
@import "imports/vars";
@import "imports/reset";
@import "imports/global";
@import "imports/typography";
@import "imports/buttons";

/*partial styles*/
@import "imports/header";
@import "imports/hero";
@import "imports/section-content";
@import "imports/article-teaser";
@import "imports/footer";
@import "imports/banner";

/*custom*/
.grid-2-1 {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.grid-2-1-left { grid-area: 1 / 1 / 2 / 2; }
.grid-2-1-right { 
    grid-area: 1 / 2 / 2 / 3; 
    @media screen and (max-width: $tablet) {
        display: none;
    }
}